@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@200;300&family=Kanit:wght@100&family=Kodchasan:wght@200&display=swap');

@media (max-width: 428px) {
    .home-bg {
        position: relative;
        height: 800px;
        z-index: 1;
    }

    .home {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
        position: absolute;
        top: 20%;
        left: 3%;
        font-family: 'Athiti', sans-serif;
        font-family: 'Kanit', sans-serif;
        width: 400px;
        font-weight: 1000;
    }

    .left-text {
        margin-right: 20px;
    }

    .left-text h1 {
        color: rgb(151, 0, 81);
        font-weight: bolder;
        font-size: 40px;
        margin: 0;
    }

    .left-text h5 {
        font-size: 16px;
        margin: 0;
        color: rgb(255, 255, 255);
        font-weight: 1000;
    }

    img.thailand-flag {
        width: 20px;
        height: 15px;
        margin-left: 5px;
    }
    
    .covidCase-box {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .top-box {
        background: palevioletred;
        width: 200px;
        height: 150px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 20px;
    }

    .top-box h1,
    .top-box p {
        margin: 0px;
    }
    
    .newCovidCase,
    .newRecovered,
    .newDeathed  {
        background: rgb(252, 169, 197);
        width: 130px;
        height: 40px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 10px;
    }
    
    .left-bottom-box {
        background: rgb(80, 227, 183);
        width: 200px;
        height: 150px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 20px;
        margin-top: 20px;
    }

    .left-bottom-box h1,
    .left-bottom-box p {
        margin: 0;
    }
    
    .newRecovered {
        background: rgb(169, 252, 205);
        width: 130px;
        height: 40px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 10px;
    }
    
    .right-bottom-box {
        background: rgb(227, 80, 104);
        width: 200px;
        height: 150px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 20px;
        margin-top: 20px;
    }

    .right-bottom-box h1,
    .right-bottom-box p {
        margin: 0;
    }
    
    .newDeathed {
        background: rgb(224, 159, 170);
        width: 130px;
        height: 40px;
        display: flex;
        justify-content: space-around;;
        align-items: center;
        border-radius: 10px;
    }
}

@media (max-width: 414px) {
    .home {
        left: 1.8%;
    }
}

@media (max-width: 390px) {
    .home {
        width: 370px;
        left: 2.5%;
    }
    .top-box,
    .left-bottom-box,
    .right-bottom-box {
        width: 180px;
    }
}

@media (max-width: 375px) {
    .home {
        width: 360px;
        left: 2%;
    }
    .top-box,
    .left-bottom-box,
    .right-bottom-box {
        width: 170px;
    }
}

@media (max-width: 360px) {
    .home {
        width: 350px;
        left: 1.5%;
    }
    .top-box,
    .left-bottom-box,
    .right-bottom-box {
        width: 165px;
    }
}

